
#title{
    color: #12134f;
    font-weight: bolder;
    align-content: center;
}

table{
    margin: auto;
    border-radius: 25px;
}

.row{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

th{
    text-align: center;
    color: #12134f;
    font-size: 22px;
}

tr{
    text-align: center;
}

thead{
    text-align: center;
}

td{
    font-weight: bold;
    font-size: 18px;
}


