#title{
    color: #12134f;
    font-weight: bolder;
    align-content: center;
    font-size: 2.5rem;
    font-weight: bold;
}


.row{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.table{
    background-color: rgba(275, 275, 275, .65);  
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding:15px;
    width: 90%;
    color: #12134f;
    margin: auto;
    text-align: center;
}

.progress-row{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.dx-rg-bs4-table-header-title{
    text-align: center;
    font-size: 1.5rem;
    margin: auto;
}

.dx-g-bs4-table-cell{
    font-size: 1.3rem;
    margin: auto;
    color: #12134f;
    font-weight: bold;
}


