.logout {
  color: #fff;
}

#nav {
  width: 100%;
  text-align: center;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px;
}

ul li:hover {
  background: #000000;
}


/* .navbar-brand{
  width: 100px;
} */




