.logout {
  color: #fff;
}

#nav {
  width: 100%;
  text-align: center;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px;
}

ul li:hover {
  background-color: rgba(275, 275, 275, .25);  
  backdrop-filter: blur(10px);
  border-radius: 25px;
}


.navbar-brand{
  float: left;
  text-align: left;
}

#nav-items{
  float: right;
  font-size: 17px;
  text-align: right;
  padding-left: 15%;
  padding-right: 5px;
}

.navbar{
  background-color: #f4654e;
  opacity: .95;
}




