.logout {
  color: #fff;
}

#nav {
  width: 100%;
  text-align: center;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px;
}

ul li:hover {
  background: #000000;
}


.navbar-brand{
  float: left;
  text-align: left;
}

#nav-items{
  float: right;
  font-size: 15px;
  text-align: right;
  padding-left: 25%;
  padding-right: 5px;
}




