.FractionContainer{
    box-align: center;
}

.btn-div{
    margin-top: 10px;
    padding-top: 7%;
    background-color: rgba(275, 275, 275, .65);  
    backdrop-filter: blur(10px);
    border-radius: 25px;
    width: 500px;
    padding-left: 5%;
}

#reset-btn{
    margin-right: 10px;
}

h3 {
    color: navy;
    font-size: 35px;
    padding-left: 40%;
}

#fraction-div{
    padding-left: 25%;
}

