.FractionContainer{
    box-align: center;
}

.btn-div{
    margin-top: 10px;
    padding-top: 5%;
    background-color: rgba(275, 275, 275, .65);  
    backdrop-filter: blur(10px);
    border-radius: 25px;
    width: 500px;
    text-align: center;
    padding-bottom: 3%;
}

#reset-btn{
    margin-right: 10px;
}

h3 {
    color: navy;
    font-size: 35px;
    padding-top: 2%;
    
}

#fraction-div{
    padding-left: 25%;
    padding-top: 10%;
}

