.FractionContainer{
    box-align: center;
    /* background-color: rgba(275, 275, 275, .30);  
    backdrop-filter: blur(5px); */
}

.btn-div{
    margin-top: 10px;
    padding-left: 30%;
}

#reset-btn{
    margin-right: 10px;
}

h3 {
    color: white;
    font-size: 35px;

}

#fraction-div{
    padding-left: 25%;
}

