.fraction-block {
    margin: 0px;
    border:none;
}
.shown{
    border: 1px black solid;
}

.col-12 .col-4 .col-6 [class*="col-"]{
    margin: 0px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px;
    width: 100%;
}

.row {
    padding: 0px !important;
}

.row-align {
    margin-right: 0px;
    margin-left:0px;
}
p {
    text-align : center;
    margin: auto;

    font-weight: bolder;
    padding: 5px;
    padding-right:5px;
    background-color: rgba(275, 275, 275, .65);  
    background: radial-gradient(white 30%, transparent 70%);
    border-radius: 25px;
}

/* buttons */

.show {
    display: block;
}

.hide {
    display: none;
}
